# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# Django static files
staticfiles/
media/

# IDE / Editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Environment variables
*.env
